body{
    background-color: #ffd1d1 ;
}

hr{
    background-color: #FFD1D1;
    border-color: gray;
    border-style: dotted none none none;
    border-width: 7px ;
    height: 0px;
    width: 4%;
}

.p{
    font-size: medium;
    font-family: cursive;
}

.top-container{
    background-color: #FFD1D1;
    position: relative;

}
.img1{
    height: 500px;
    width: 200px;
    position: absolute;
    left: 482px;
    top: 120px;
}
.img2{
    height: 650px;
    width: 410px;
    position: relative;
    left: 550px;
    bottom: 25px;
}
.img3{
    height: 480px;
    width: 270px;
    position: absolute;
    right: 440px;
    bottom: 160px;
}

.img4{
    height: 300px;
    width: 250px;
    position: absolute;
    bottom: 10px;
    right: 5px;

}


.txt1{
    display: block; 
    font-size: 2em;
    font-weight: bold;
    position: relative;
    bottom: 340px;
    left: 654px;
    font-family: Papyrus;
}

.txt2{
    position: relative;
    bottom: 360px;
    left: 635px;
    font-family: Lucida Handwriting;
    font-size:small;
}

.profile{
    text-align: center;
}

.man:hover{
    border:solid #D58BDD;
    border-radius: 30px 30px 30px;    
}

.man{
    height: 4cm;
        
}

.hlo{
    font-size: 30px;
    font-family:cursive;
}

h3{
    font-family:serif;
}

.middle-container{
    text-align: center;
}

.contact-me{
    text-align: center;
}

.bottom-container{
    text-align: end;
}

.data{
    height: 4cm;
    position: relative;
    top: 10px;
    margin: 5px;
}

.btn{
    font-family: Courier New;
}

h2{
    color: #000000;
    font-family: "Courier New", Courier, monospace;
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', sans-serif;
}

.cloud{
    height: 4cm;
    position: relative;
    top: 10px;
    margin: 10px;
}

.cp{
    color: black;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    from {color: white;}
    to {color: black;}
  }

  .get{
    color: #000000;
    animation: clr 2s infinite;
  }
  @keyframes clr{
    from{color: rgb(255, 0, 38);}
    to{color: gold;}

  }